* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	min-width: 1600px;
	font-family: "Montserrat", sans-serif;
	background-image: url("../img/geometric-5969508_1280.png");
	background-size: cover;
	background-position: center;
	overflow: scroll;
}
.active {
	background-color: rgba(255, 255, 255, 0.2);
}

.panel {
	width: 1600px;
	height: 1000px;
	border: 1px solid #4b5769;
	border-radius: 15px;
	overflow: hidden;
}

.panel-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #4b5769;
}

.panel-right {
	background-color: #fff;
}
.info-top h1 {
	font-size: 4rem;
	font-weight: bold;
	text-transform: uppercase;
}
/* ---------- */

.date-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 160px;
}

.date-box .day {
	font-size: 2rem;
}

.date-box .time {
	font-size: 4rem;
	font-weight: bold;
}

.date-box .date {
	font-size: 1.8rem;
}
/* ---------- */

.menu {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 700px;
}

.menu a {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	height: 30%;
	text-decoration: none;
	color: #fff;
	border: 1px solid #ddd;
	border-radius: 15px;
}

.menu a:hover {
	background-color: transparent;
	background-image: linear-gradient(
		166deg,
		rgba(0, 13, 101, 1) 0%,
		rgba(74, 114, 169, 1) 50%,
		rgba(85, 122, 176, 1) 100%
	);
}

.menu-item i {
	font-size: 5rem;
	margin-bottom: 0.4rem;
}

.menu-item p {
	font-size: 1.8rem;
	text-transform: uppercase;
}
/* ---------- */

.info-box h3 {
	font-size: 2rem;
}

.info-box p {
	font-size: 1.6rem;
}
.info-box span {
	font-weight: bold;
}
/* ---------- */

.main-stats h1 {
	font-size: 3rem;
	text-transform: uppercase;
	font-weight: bold;
	color: black;
}

.main-stat-box {
	height: 140px;
	border-radius: 15px;
	color: black;
	transition: background-color 0.3s;
}

.main-stat-box:hover {
	background-color: rgba(255, 255, 255, 0.08);
}

.main-stat-box h3 {
	margin-bottom: 1em;
	font-size: 1.8rem;
	text-transform: uppercase;
	font-weight: bold;
	color: black;
}

.main-stat-box p {
	font-size: 1.7rem;
}

/* ---------- */

.main-table h3 {
	font-size: 2.6rem;
	/*color: #fff;*/
	color: black;
	font-weight: bold;
}

.main-table thead,
.main-table .dropdown-item {
	font-size: 1.4rem;
	color: black;
}

.main-table tbody {
	font-size: 1.5rem;
	color: black;
}

.main-table .btn {
	font-size: 1.6rem;
	border-radius: 15px;
}

.page-link {
	padding: 0.5em 1em;
	font-size: 1.7rem;
	background-color: transparent;
	color: black;
}

.page-link:hover {
	background-color: #f0f0f0;
	color: black;
}
/*-----*/
aside h3 {
	margin-bottom: 1em;
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	color: black;
}

.logo .logo-text {
	font-size: 3.4rem;
	text-shadow: 0 0 5px rgb(255, 255, 255);
}

.logo p {
	font-size: 1.8rem;
	color: #41f2d2;
}
.logo span {
	font-weight: bold;
}

.users-online p,
.users-gender i {
	font-size: 4.5rem;
	color: black;
}

.users-gender .fa-house-chimney-crack {
	text-shadow: 0 0 10px #41f2d2;
}

.users-gender .fa-car {
	text-shadow: 0 0 10px #0033ff;
}

.users-gender p {
	font-size: 2.8rem;
	color: black;
}
/*-----*/
.monthly-status .form-select,
.monthly-status option {
	font-size: 1.6rem;
	border-radius: 15px;
}
.monthly-status .info {
	font-size: 1.8rem;
	color: black;
}
.monthly-status .number {
	font-size: 1.4rem;
	background-color: #41f2d2;
}
/*-------*/
.posts h3 {
	font-size: 2.4rem;
	text-transform: uppercase;
	font-weight: bold;
}

.featured-post .btn {
	font-size: 1.6rem;
	border-radius: 15px;
}

.featured-post .card-title {
	font-size: 1.8rem;
}

.featured-post .card-body {
	font-size: 1.4rem;
}
.card {
	border-radius: 15px;
}

/*-------*/
.users-list li {
	padding: 0.5em 1em;
	margin: 0.2em 0;
	font-size: 2rem;
	border-radius: 15px;
}
.list-group {
	border-radius: 15px;
}
.users-list .btn {
	font-size: 1.6rem;
	border-radius: 15px;
}
.users-list .list-group-item {
	border: 1px solid black;
}
.user-search label,
.user-search input,
.user-search select {
	font-size: 1.6rem;
	border-radius: 15px;
}
.user-search .btn {
	font-size: 2rem;
	border-radius: 15px;
}
.model-content label,
.model-content .newsletter,
.model-content select,
.model-content input,
.model-content .btn {
	font-size: 1.6rem;
}
